.svg-1 {
    background-image: url('svg/svg-1.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-2 {
    background-image: url('svg/svg-2.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-3 {
    background-image: url('svg/svg-3.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-4 {
    background-image: url('svg/svg-4.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-5 {
    background-image: url('svg/svg-5.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-6 {
    background-image: url('svg/svg-6.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-7 {
    background-image: url('svg/svg-7.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-8 {
    background-image: url('svg/svg-8.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-9 {
    background-image: url('svg/svg-9.svg') no-repeat center center fixed;
    background-size: contain;
}
.svg-10 {
    background-size: contain;
    background-image: url('svg/svg-10.svg') no-repeat center center fixed;
}
.svg-11 {
    background-size: contain;
    background-image: url('svg/svg-11.svg') no-repeat center center fixed;
}
.svg-12 {
    background-size: contain;
    background-image: url('svg/svg-12.svg') no-repeat center center fixed;
}
.svg-13 {
    background-size: contain;
    background-image: url('svg/svg-13.svg') no-repeat center center fixed;
}
.svg-14 {
    background-size: contain;
    background-image: url('svg/svg-14.svg') no-repeat center center fixed;
}
.svg-15 {
    background-size: contain;
    background-image: url('svg/svg-15.svg') no-repeat center center fixed;
}
.svg-16 {
    background-size: contain;
    background-image: url('svg/svg-16.svg') no-repeat center center fixed;
}
.svg-17 {
    background-size: contain;
    background-image: url('svg/svg-17.svg') no-repeat center center fixed;
}
.svg-18 {
    background-size: contain;
    background-image: url('svg/svg-18.svg') no-repeat center center fixed;
}
.svg-19 {
    background-size: contain;
    background-image: url('svg/svg-19.svg') no-repeat center center fixed;
}
.svg-20 {
    background-size: contain;
    background-image: url('svg/svg-20.svg') no-repeat center center fixed;
}
.svg-21 {
    background-size: contain;
    background-image: url('svg/svg-21.svg') no-repeat center center fixed;
}
.svg-22 {
    background-size: contain;
    background-image: url('svg/svg-22.svg') no-repeat center center fixed;
}
.svg-23 {
    background-size: contain;
    background-image: url('svg/svg-23.svg') no-repeat center center fixed;
}
.svg-24 {
    background-size: contain;
    background-image: url('svg/svg-24.svg') no-repeat center center fixed;
}
.svg-25 {
    background-size: contain;
    background-image: url('svg/svg-25.svg') no-repeat center center fixed;
}
.svg-26 {
    background-size: contain;
    background-image: url('svg/svg-26.svg') no-repeat center center fixed;
}
.svg-27 {
    background-size: contain;
    background-image: url('svg/svg-27.svg') no-repeat center center fixed;
}
.svg-28 {
    background-size: contain;
    background-image: url('svg/svg-28.svg') no-repeat center center fixed;
}
.svg-29 {
    background-size: contain;
    background-image: url('svg/svg-29.svg') no-repeat center center fixed;
}
.svg-30 {
    background-size: contain;
    background-image: url('svg/svg-30.svg') no-repeat center center fixed;
}
.svg-31 {
    background-size: contain;
    background-image: url('svg/svg-31.svg') no-repeat center center fixed;
}
.svg-32 {
    background-size: contain;
    background-image: url('svg/svg-32.svg') no-repeat center center fixed;
}
.svg-33 {
    background-size: contain;
    background-image: url('svg/svg-33.svg') no-repeat center fixed;
}
.svg-34 {
    background-size: contain;
    background-image: url('svg/svg-34.svg') no-repeat center fixed;
}
.svg-35 {
    background-size: contain;
    background-image: url('svg/svg-35.svg') no-repeat center fixed;
}
.svg-36 {
    background-size: contain;
    background-image: url('svg/svg-36.svg') no-repeat center fixed;
}
.svg-37 {
    background-size: contain;
    background-image: url('svg/svg-37.svg') no-repeat center fixed;
}



div {
    padding: 10px;
    margin: auto;
    height: 100vh;
    width: 100vw;
}